.header-container {
  display: flex;
  align-items: center;

  padding: 10px 0px;

  .header-title {
    font-size: 36px;

    padding-left: 50px;

    margin-right: 100px;

    margin-top: 15px;
  }

  .search-container {
    width: 40%;
  }
}
